body{
  background-color: #edfce6 !important;
}
.back{
  position: relative;
  left: 2rem;
}
body {
  font-family: "Lato", sans-serif;
}
.mainimg{
  position: relative;
  top: 2rem;
  box-shadow: 2rem;
  left: 8rem;
}
